<form [formGroup]="myform">
  <div class="grid-x grid-padding-x colorfondo" style="margin-top: 14rem;">


    <div class="cell medium-4 medium-cell-block-y ">

    </div>
    <div class="cell medium-4 medium-cell-block-y  card">
      <br />
      <img src="../../../assets/Img/meganet.jpg" class="margin" />
      <br />
      <div *ngIf="mensajeError.trim()!==''" class="label alert">
        {{mensajeError}}
      </div>
      <br />
      <input placeholder="Usuario" type="text" formControlName="idusuario" />
      <input placeholder="Contraseña" type="text" formControlName="password" />
      <button type="button" class="button" (click)="login()">Ingresar</button>
      <br>

    </div>
  </div>

</form>
