<br>
<div class="card">
  <div class="card-section ">

    <div class="grid-x grid-margin-x">
      <div class="cell medium-3 large-3">
        <div class="card2">
          <div class="card-section">

            <label>
              <span class="material-icons">query_builder </span> &nbsp;
              <strong>{{fecha}}</strong>
            </label>

          </div>
        </div>
      </div>
    </div>
<br>

    <div class="grid-x grid-margin-x">
      <div class="cell medium-3 large-3">
        <div class="card2">
          <div class="card-section">


          </div>
        </div>
      </div>

      <div class="cell medium-6 large-6">
        <div class="card2">
          <div class="card-section">


          </div>
        </div>
      </div>

      <div class="cell medium-3 large-3">
        <div class="card2">
          <div class="card-section">


          </div>
        </div>
      </div>
    </div>


  </div>
</div>
