

  
   <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
     <button class="menu-icon" type="button"   data-toggle="offCanvasTop1" data-toggle="responsive-menu"
    aria-controls="offCanvasMenuTop"></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar grid-x grid-margin-x" id="responsive-menu">
    <div class="top-bar-left large-5">
      <ul class="dropdown menu" dropdown #dropdown="bs-dropdown">
        <li class="menu-text">Inicio</li>
        <li>
          <a href="#" dropdownToggle   aria-controls="dropdown-categorias">Categorias</a>
          <ul id="dropdown-categorias" *dropdownMenu class="menu is-dropdown-submenu" role="menu">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </li>
    
      </ul>
    </div>
    <div class="top-bar   large-4 cell">
      <ul class="menu">
        <li><input type="search" placeholder="Buscar"></li>
        <li><button type="button" class="button">Buscar</button></li>
      </ul>
    </div>
    <div class="top-bar-right   large-3 cell ">
      <ul class="menu grid-x">     
        
        <ul class="dropdown vertical   large-7 menu" dropdown #dropdown="bs-dropdown" [autoClose]="false">
          <li class="is-dropdown-submenu-parent">
            <button dropdownToggle type="button" class="clear button round secondary" aria-controls="cardropdown">
              <span class="material-icons" style="font-size: 2rem;">shopping_cart</span>
            </button>
            <ul id="cardropdown" *dropdownMenu class="dropdown-pane" role="menu">
              <p role="menuitem"> Alexis Bueno </p>
         
             
              
      
            </ul>
          </li>
        </ul>
        <ul class="dropdown vertical menu large-3" dropdown #dropdown="bs-dropdown" [autoClose]="false">
          <li class="is-dropdown-submenu-parent">
            <button dropdownToggle type="button" class="clear button round secondary" aria-controls="accountdropdown">
              <span class="material-icons" style="font-size: 2rem;">face</span>
            </button>
            <ul id="accountdropdown" *dropdownMenu class="menu is-dropdown-submenu" role="menu">
              <li role="menuitem"><a href="#">Alexis Bueno </a></li>
              <hr/>
              <li role="menuitem"><a href="#"><span class="material-icons">settings
                </span>  Cuenta </a></li>
              <li role="menuitem"><a href="#"><span class="material-icons">
                power_settings_new
                </span>Cerrar Sesion</a></li>
             
              
      
            </ul>
          </li>
        </ul>
      </ul>
    </div>
</div>
