<br>
<div  class="grid-x grid-margin-x">
  <div class="cell medium-1 large-1"> </div>
  <div class="cell medium-10 large-10">
    <div class="card" >
      <div class="card-section">
        <h2 class="text-center">Categorias</h2>
        <hr/>
        <div  *ngIf="mensajeError.trim()!==''" class="{{tipoalerta}}" data-closable="slide-out-right"   >
          {{mensajeError}}
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div >
       <br/>

        <p-table [value]="ListCategorias"  [paginator]="true"  [rows]="10"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
          <ng-template pTemplate="header">
              <tr>
                  <th><strong>Nombre categoria</strong></th>
                  <th><strong>Accion</strong></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-Cateroria>
              <tr>
                  <td>{{Cateroria.nombreCategoria}}</td>
                  <td>
                    <button pButton pRipple type="button"  icon="pi pi-pencil" (click)="ShowModalEdit(Cateroria)"   class="p-button-rounded p-button-outlined"></button> &nbsp;
                    <button pButton pRipple type="button"  icon="pi pi-trash" (click)="DeleteCategoria(Cateroria._id)"   class="p-button-rounded p-button-danger p-button-outlined"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>
      <p-dialog header="Editar Categoria" [(visible)]="display" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}" [baseZIndex]="10000" [modal]="true" >
        <div>
          <app-crear-categoria (display)="closeModalEdit($event)"   *ngIf="display"   [idcategoria]="idcategoria" ></app-crear-categoria>
        </div>

       </p-dialog>


      </div>
    </div>
  </div>
  <div class="cell medium-1 large-1"> &nbsp;</div>
</div>

