<hr />
<div class="grid-x grid-padding-x row align-justify">    
    <div  class="cell medium-6 large-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1182.2503550172291!2d-74.05885209251824!3d4.66512797659342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5f3f535297%3A0xf509f2cb0f590c3!2sUnilago!5e0!3m2!1ses!2sco!4v1615939087248!5m2!1ses!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div >
    <div class="cell medium-6 large-5">
            <label class="h5"><strong>Meganet Computer</strong> </label> <br/>
            <label class="h5">  CC. Unilago local 162 </label><br/>
            <label class="h5"> Cel: 300 392 0544 - 310 854 0467</label> <br/>
    </div>
    <div class="large-3">

    </div>



</div>